html
{
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    background-image: url(../images/pinkSky.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.gallery_container
{
    color: white;
}

.gallery
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.gallery a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.gallery img
{
    width: 70%;
    margin: 50px 0;
}

#galleryImage
{
    display: flex;
    flex-wrap: wrap;
}

.elementImage
{
    height: 200px;
}

.gallery button
{
    background-color: #0067B8;
    border-width: 0;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 24px;
    margin: 0 24px;
    color: white;
}

.gallery button:hover
{
    background-color: #0164b2;
}

.gallery button:active
{
    background-color: #0160ab;
}
