html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    background-image: url("../images/lake_and_mountains.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.wrapper
{
    margin: 0 25px;
    width: 100%;
}

.background img
{
    width: 100%;
    position: relative;
    pointer-events: none;
}

.mobile
{
    width: 100%;
    margin: 0 25px;
    display: flex;
    justify-content: center;
}

.heroItem
{
    position: relative;
    top: 50px;
    text-align: center;
}
.introTextAndImage
{
    position: relative;
}

.introTextAndImage::before
{
    display: block;
    content: "";
    width: 100%;
    /*padding-bottom: 61%;*/
    box-sizing: inherit;
    overflow: unset;
}

.see_projects
{
    position: relative;
    top: 35px;
    background-color: #0067B8;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.see_projects:hover
{
    background-color: #005494;
}