@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200;500&display=swap');

.c-heading_3{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: 500;
}

.c-heading-3
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 35px;
}

.c-heading
{
    position: relative;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 25px;
}

.c-paragraph-2{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 10px 0 3px 0;
    font-size: 20px;
}

.c-paragraph-1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}